@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-neue: var(--font-neue-machina);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue);
}

.container{
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
}

.active{
    border: none !important;
}

.last{
  color: #fff;
  background: linear-gradient(86.55deg, #2E2BD0 -68.23%, #7876F2 165.71%);
  h3{
    color: #FFFFFF;
  }
  
  p{
    color: #FFFFFFB2;
  }
}
